<main class="main">
<h1>トップページapp/views/prototype/index.html.erb</h1>
  <div class="inner">
    <% if user_signed_in? %>
    <%# ログインしているときは以下を表示する %>
      <div class="greeting">
        こんにちは、
        <%= link_to "ユーザー名さん", root_path, class: :greeting__link %>%
      </div>
    <% else %>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
    </div>
  </div>
</main>
